.idea
.env
**node_modules**
config
build
chaindb
artifacts/
cache/
coverage/
.vscode/
credentials.js
dummy.sol
node_modules
.env
coverage
coverage.json
typechain
package-lock.json
sessions

#Hardhat files
cache
artifacts
