module.exports = {
    infura: {
        mainEndpoint:""
    },
    wallet:{
        PKEY:"0x...",
        address:"0x..."
    },
    etherscan:{
        KEY: "JI..."
    },
    polygonTestnet: {
        url: `https://rpc-mumbai.maticvigil.com/`,
    }
}